body{
background-image: url('../imagenes/rendimiento.jpg');
background-size: cover;
background-repeat: no-repeat;
height: 100%;
font-family: 'Numans', sans-serif;
}

.form-group{
	width: 250px;
}
.container{
float: right;
height: 250px;
 width: 250px !important;
background-color: hsla(120, 60%, 70%, 0.3);
}

#cuadrito{
opacity:valor;
    
}


.scrollbar {
margin-left: 30px;
float: left;
height: 350px;
width:2200px;
background: #fff;
overflow-y: scroll;
margin-bottom: 25px;
}

.scrollbar-success::-webkit-scrollbar-track {
-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
background-color: #F5F5F5;
border-radius: 10px; }

.scrollbar-success::-webkit-scrollbar {
width: 12px;
background-color: #F5F5F5; }

.scrollbar-success::-webkit-scrollbar-thumb {
border-radius: 10px;
-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
background-color: #00C851; }